<mat-divider></mat-divider>
<mat-card role="listitem" [ngStyle]="{'background': todo.completed ? '#eee' : '#fff'}">
    <mat-card-content>
        <span #text>{{inspect ? todo.inspect() : todo.text}}</span>
    </mat-card-content>
    <mat-card-actions>
        <span>
            <mat-checkbox [checked]="todo.completed" (change)=doneToggle()>
                Done
            </mat-checkbox>
            <button mat-button (click)="emitEdit()">Edit</button>
        </span>
    </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>